*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.main {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

[hidden] {
  display: none !important;
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}
